@import "~bootstrap/scss/bootstrap.scss";

main {
    min-height: 400px;
}

body {
    background-color: gainsboro;
}

.main-content {
    background-color: white;
    border: 1px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    margin-top: 10px;
}

.Footer {
    height: 110px;
}